.project {
  width: 80%;
  margin: 20px auto 100px;
  opacity: 0;
  transform: translateY(50px);
  transition: all 0.8s ease-out;
  overflow: hidden;
}

.project.show {
  opacity: 1;
  transform: translateY(0);
}

.project h1 {
  display: flex;
  justify-content: center;
  font-weight: 600;
  padding: 50px;
}

.project-list {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 30px 0;
  gap: 8rem;
}

.project-card {
  width: 80%;
  display: flex;
  align-items: center;
  gap: 1.5rem;
  padding: 1.5rem 2rem;
  border-radius: 16px;
  background: black;
  border: 1px solid #5e685c;
  /* background: linear-gradient(180deg, #0f0f0f, #0b0b0b); */
}

.project-card img {
  width: 250px;
  height: auto;
  object-fit: contain;
  border-radius: 10px;
}

.project-info {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
}

.project-info h2 {
  font-size: 1.4rem;
  margin: 3px;
  color: #fff;
}

.project-meta {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 0.7rem;
  font-size: 0.9rem;
  color: #aaa;
}

.project-meta span {
  padding: 0.2rem 0.2rem;
  border-radius: 999px;
  background: rgba(255, 255, 255, 0.08);
}

.project-card button {
  padding: 0.6rem 1.2rem;
  border-radius: 10px;
  border: none;
  background: #3b82f6;
  color: #fff;
  font-size: 1.2rem;
  cursor: pointer;
  white-space: nowrap;
}

.project-card {
  transition:
    transform 0.3s ease,
    box-shadow 0.3s ease;
}

.project-card:hover {
  transform: translateY(-4px);
  box-shadow: 0 12px 40px rgba(0, 0, 0, 0.4);
}

.project-card button:hover {
  background: #0062ff;
}

@media (max-width: 1000px) {
  .project-card {
    display: flex;
    flex-direction: column;
    align-content: start;
  }

  .project-card img {
    width: 100%;
  }

  .project-card button {
    width: 100%;
  }

  .project-info {
    align-self: flex-start;
  }

  .project h1 {
    font-size: 24px;
  }
}